<div class="container body-content">
    <h1>Escape Room Queue</h1>

    <hr />
    <p>
        <div id="searchcard" class="card blink2 container body-content" style="border-radius: 6px;">

            <h2>Reservation Details</h2>

            <form action="/search/results" method="post">
                <label for="name">Contact Name:</label>
                <input type="text" name="reservation" id="name">
                <label for="phone">Phone Number:</label>
                <input type="tel" name="reservation" id="phone">
                <label for="size">Group Size:</label>
                <input type="number" name="reservation" id="size">
                <input type="submit" name="submit" id="submit" value="Submit" />
            </form>
            <hr />

        </div>

</div>